.nav__list {
    display: flex;
    column-gap: 16px;
}

.nav__link {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.nav__link_active {
    color: #ffffff;
    font-weight: 600;
    text-shadow:
            0 0 7px #0fa,
            0 0 10px #0fa,
            0 0 21px #0fa;
}