.header {
    padding: 18px 0;
    /* background-color: #073042; */
}

.header__container {
    padding: 0 30px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__buttons {
    display: flex;
    column-gap: 10px;
}

.header__button {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    padding: 8px 20px;
}

.header__button_color_green {
    color: #000000;
    background-color: #3ddc84;
    border-radius: 3px;
}

.header__profile {
    text-decoration: none;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    flex-direction: row-reverse;
    padding: 10px 30px;
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    justify-content: center;
    margin-left: 50px;
    border: 2px solid #525252;
    border-radius: 50px;
    gap: 7px;
    color: #fff !important;
    font-size: 0.950em;
    transition: .3s ease-in-out;
}

.header__profile:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}

.header__profile:hover {
    background: #83bfc503;
    color: #fff !important;
}

.header__profile:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}

.header__profile:focus {
    background: #83bec5;
    color: #fff !important;
    outline: none;
}

.header__profile-button {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
    text-decoration: none;
}

.header__profile-photo {
    background-image: url("../../images/header.profile.svg");
    height: 14px;
    width: 12px;

}

@media screen and (max-width: 768px) {
    .header__container {
        padding: 0 calc(14px + (30 - 14) * ((100vw - 320px) / (768 - 320)));
    }

    .header__nav {
        display: none;
    }

    .header__profile {
        display: none;
    }

    .header__menu-button {
        display: block;
        width: calc(22px + (28 - 22) * ((100vw - 320px) / (768 - 320)));
        height: calc(20.5px + (23 - 20.5) * ((100vw - 320px) / (768 - 320)));
    }

    .header__buttons {
        column-gap: calc(2px + (10 - 2) * ((100vw - 320px) / (768 - 320)));
    }

    .header__button {
        font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (768 - 320)));
        padding-top: calc(5px + (8 - 5) * ((100vw - 320px) / (768 - 320)));
        padding-right: calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(5px + (8 - 5) * ((100vw - 320px) / (768 - 320)));
        padding-left: calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320)));
    }
}